asgiref==3.12.1
attrs==26.1.0
celery==5.3.6
channels==4.3.2
channels_redis==4.3.0
daphne==4.2.2
charset-normalizer==3.4.9
colorama==0.4.6
Django==6.0.7
django-cors-headers==4.9.0
django-filter==26.1
django-celery-beat==2.5.0
django-celery-results==2.5.1
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.30.0
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
msgpack==1.2.1
pillow==12.3.0
psycopg2-binary==2.9.12
PyJWT==2.13.0
python-dotenv==1.0.1
PyYAML==6.0.3
qrcode==8.2
redis==8.0.1
referencing==0.37.0
reportlab==5.0.0
rpds-py==2026.6.3
sqlparse==0.5.5
twilio==8.12.0
tzdata==2026.3
uritemplate==4.2.0
